html { height: 100%; overflow:hidden;}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  border-top: 1px transparent solid;
  margin-top: -1px;
  position: relative;
  align-items: center;
  font-family: Verdana, sans-serif;
  justify-content: space-evenly;
}

.inbox, .buttonbox, .scoreboard {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.inbox {
  justify-content: center;
}

#score, #streak {
  width: 128px;
  background-color: #4a4;
  font-size: 24px;
  padding: 16px;
  text-align: center;
  margin: 16px;
  border-radius: 8px;
  color: #fff;
}

button {
  display: inline-block;
  background-color: #666;
  color: #fff;
  padding: 16px 32px;
  margin: 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 8px;
}

label {
  font-size: 24px;
  color: #666;
  padding: 32px;
  text-align: center;
  margin: 16px;
}

input {
  font-size: 24px;
  color: #666;
  padding: 16px;
  text-align: center;
  margin: 16px;
  border-radius: 8px;
}

#result {
  font-size: 24px;
  color: #666;
  padding: 16px;
  text-align: center;
  margin: 16px;
  border-radius: 8px;
  min-width: 256px;
}

#result.hidden {
  visibility: hidden;
}

#result.missed {
  display: block;
  background-color: #444;
  color: #fff;
}

#result.success {
  display: block;
  color: #fff;
  background-color: #4a4;
}
